body{
   
   background-image:url(Publikum2.png) ; 
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto, cover;
    }

#publikum {
    position: absolute;
    max-width: 1920px;
    max-height: 320px;
    left: 0%;
    top: 10px;
    z-index: -1;
}
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #DA3737;
    padding: 10px 0;
    margin: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

li {
    padding: 10px;
}

li.logo {
    padding: 0;
}

img {
    max-height: 70px;
}

.navbar {
    text-align: right; 
}

a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
    color: black;
}

 #rules{
            position: absolute;
            left: 10%;
            top: 10%;
            bottom: 10%;
            right: 10%;
            background-color: white;
            display: none;
        }

a:hover {
    color: black;
}

